.app.theme-light {
    --bg-main: #f6f6f6;
    --bg-second: white;
    --text-main: black;
    --text-second: #3f3f3f;
    --text-main-inv: white;
    --text-second-inv: #d0d0d0;
    --accent-main: rgb(1, 64, 140);
}