.Navbar {
  position: relative;
  z-index: 1000;

  height: var(--navbar-height);
  width: 100%;
  background-color: var(--accent-main);
  display: flex;
  justify-content: center;
  align-items: center;
  gap:20px;

  .link {
    color: var(--text-main-inv);
    font: var(--font-m);


    &:hover {
      color: var(--text-second-inv);
    }
  }

  .active {
    color: var(--text-second-inv);
  }


}

.fixed {
  position: fixed;
  top: 0;
}

