.EventPageTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  button {
    padding: 6px 14px;
  }
  h2 {
    color: var(--accent-main)
  }

  p {
    color: var(--text-second);
  }
}